.x-axis text {
  transform: rotate(-40deg);
  text-anchor: end;
}
/* 
input{
    width: ;
} */
.close {
  fill: none;
  stroke: black;
}

.some {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sma {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

body {
  font-family: Arial;
}
h1 {
  color: #0099ff;
}
p {
  color: #000000;
}
tr {
  background-color: #ff8448;
}
td {
  background-color: #0099ff;
}

table {
  color: #ffffff;
}

tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 3px;
  text-align: center;
}

.statTable {
  position: relative;
  left: 100px;
}
